@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Recommend</legend>

    <div class="editor-label">
            <label>Nombre</label>
    </div>
    <div class="editor-field">
        @ViewBag.recomend.Nombre
    </div>
    <div class="editor-label">
        <label>Telefono</label>
    </div>
    <div class="editor-field">
        @ViewBag.recomend.Telefono
    </div>

    <div class="editor-label">
        <label>Email</label>
    </div>
    <div class="editor-field">
        @ViewBag.recomend.Email
    </div>

      <div class="editor-label">
        <label>Comentario</label>
    </div>
    <div class="editor-field">
        @ViewBag.recomend.Comentario
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input name="id" type="hidden" value="@ViewBag.recomend.id"/>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Recommend")
    </p>
}
