@{
    ViewBag.Title = "Recommend";
}


<div class="create">

    @Html.ActionLink("Nueva Recomendación", "Create")

</div>


<div class="table_recommend" >
<table >
    <tr>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Email</th>
        <th>Comentario</th>
       <!-- <th>Actions</th>-->
        

    </tr>

    @foreach (var item in ViewBag.recommends)
    {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Telefono</td>
            <td>@item.Email</td>
            <td>@item.Comentario</td>
           
                    @Html.ActionLink("Delete","Delete", new { id=item.id})                  
                   
           
        </tr>
    }


</table>

</div>



