@{
    ViewBag.Title = "Index";
}

<h2>Request</h2>


<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Url Base</th>
        <th>Action</th>
        <th>Http Verb</th>
    </tr>
    @foreach (var item in ViewBag.requests)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.name</td>
            <td>@item.urlBase</td>
            <td>@item.action</td>
            <td>@item.httpVerb</td>
        </tr>
    }
</table>


